@media (max-width: 688px) {

    .one,
    .two,
    .three {
        background-color: #FFFFFF;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menuToggle {
        width: 40px;
        height: 30px;
        margin-right: 40px;
    }

    .menuSection.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0d6efd;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuSection.on .menuToggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .menuSection.on .menuToggle .one {
        transform: rotate(45deg) translate(6px, 8px)
    }

    .menuSection.on .menuToggle .two {
        opacity: 0;
    }

    .menuSection.on .menuToggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }
}
